* {
	box-sizing: border-box;
  }
#style1{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight:500;
	margin-top:-70px;
	margin-left:300px;
}
.image{
	border-bottom:1px rgba(0, 0, 0, 0.274) solid;
	padding-bottom: 30px;
}
.bottom{
	padding-bottom:30px;
	background-color:#e08e43;
}
body{
	margin:0px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top:-90px;
	margin-left:300px;
	overflow: hidden;
  }
  li {
	float: left;
  }
  a {
	display: block;
  }
  li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 20px 40px;
	text-decoration: none;
  }
#search{
	margin-top:5px;
	margin-left:500px;
	scale:1.1;
  }
  #prof{
	margin-top:5px;
	margin-left:30px;
  }
  #login{
	margin-left:30px;
	border-left: 1px rgba(0, 0, 0, 0.274) solid;
	padding-left: 20px;
	
  }

.feature{
	border-radius: 14px;
	padding:60px; 
	background-color: #fff5eb;
	width: 80%;
	margin:auto;
	margin-top:100px;
	padding-bottom:0px;
	
}
.popular{
	border-radius: 14px;
	padding:60px; 
	background-color: #fff5eb;
	margin:auto;
	margin-top:100px;
	padding-bottom:0px;
	display:flex;
}
#featured{
    margin-left:650px;
	font-size: 30px;
	
}
.feature_border{
	border-bottom: 1.5px black solid;
	padding-bottom:10px;
	margin:auto;
}
.popular_border{
	border-bottom: 1.5px black solid;
	padding-bottom:10px;
	width:85%;
	margin:auto;
}
#popular{
	text-align:center;
	font-size: 30px;
	height:40px;

}
#main{
	margin:auto;
	margin-left: 10px;
	margin-top: 25px;
	width: 809px;
	height:614px;
	border-radius:14px;
}
#recipe_details1{
	margin-left:30px;
	font-size: 35px;
	margin-bottom:10px;
}
#recipe_desc1{
	font-size:25px;
	margin-left:30px;
	margin-top:0px;
	margin-bottom:5px;
	
}
#stars{
	margin-left:25px;
	margin-bottom:250px;
}

#recipename{
	font-size:25px;
	margin-top:20px;
	width:300px;
	text-align:center;
	margin-left:26px;
}
.column {
	flex: 33.33%;
	padding: 100px;
  }
#bottomtext{
	color:white;
	font-size:18px;
	border-bottom:1px white solid;
	margin-top:20px;
}
#newsletter{
	border:1px white solid;
	color:white;
	font-size:20px;
	margin-right:60px;
	margin-top:20px;
}